.navContainer {
  background: rgb(236, 238, 241);
  background-color: rgb(83, 51, 228);
  padding: 0px 20px 0px 40px;
  overflow: hidden;
  position: relative;
  z-index: 200;

  width: 30%;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  height: 90%;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.nav a {
  /* color: white; */

  font-size: 22px;
  transition: 0.3s;
}

.nav a:hover {
  /* color: rgb(203, 214, 233); */
}

.btn {
  /* position: absolute;
  bottom: 20%; */
  padding: 10px 30px;
  width: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(121, 123, 241);
  border: none;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  z-index: 100;

  transition: 0.3s;
}

.btn:hover {
  color: white;
  background-color: rgb(255, 40, 104);
}

.nav h2 {
  /* margin-left: 40px; */
}

.navLink {
  color: rgb(255, 255, 255);
}

.activeNavLink {
  color: rgb(255, 40, 104);

  transform: scale(1.05);
}
