.wrapper {
  width: 70%;
}

.innerWrapperForm {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.innerWrapperContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerWrapperContacts label {
  display: flex;
  flex-direction: column;
}

.innerWrapperContacts ul {
  padding: 15px;

  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}

.innerWrapperContacts ul li {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
